* {
    margin: 0;
    padding: 0;
    font-family: "Kameron";
}

.container {
    width: 100vw;
    min-height: 100vh;
    background: #020024;
    background: linear-gradient(145deg, #020024 0%, #1717aa 5%, #00d4ff 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.app {
    background-color: #fff;
    width: 80%;
    height: fit-content;
    border-radius: 30px;
    padding: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.app h1 {
    font-size: 50px;
    border-bottom: 1px solid #000;
    font-weight: 600;
    padding-bottom: 30px;
    color: red;
    width: 100%;
    text-align: center;
}
.quiz {
    width: 95%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 20px;
}
.quiz h2 {
    width: 100%;
    text-align: start;
    font-size: 30px;
    color: #001e4d;
    font-weight: 600;
}
.answer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    gap: 20px;
}
.answer img {
    width: 400px;
    height: auto;
    border: 2px solid #1717aa;
    border-radius: 20px;
}
.btn {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 80px;
    width: 100%;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    text-align: start;
    padding: 15px;
    font-size: 20px;
    transition: all 0.5s ease;
    border: #1717aa 2px solid;
}
.btn:hover:not([disabled]) {
    background-color: #1717aa;
    color: #fff;
    border: #949494 2px solid;
}
.btn:disabled {
    cursor: no-drop;
}
#answerButtons {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#nextBtn {
    height: 50px;
    padding: 15px 25px;
    border-radius: 10px;
    border: #1717aa 2px solid;
    transition: all 0.5s;
    cursor: pointer;
    background-color: #1717aa;
    color: #fff;
    display: none;
}
#nextBtn:hover {
    background: linear-gradient(145deg, #1717aa 2%, #00d4ff 100%);
    color: #fff;
}
.correct {
    background-color: #50e850;
    color: #000;
}
.incorrect {
    background-color: #ff5454;
    color: #000;
}
.portfolio {
    position: fixed;
    left: -35px;
    bottom: 80px;
    transform: rotate(90deg);
    padding: 0;
    margin: 0;
}
.portfolio a {
    font-size: medium;
    background-color: #FFD9AB;
    padding: 10px 5px 50px 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #4e342e;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.5s;
}
.portfolio a:hover {
    background-color: #4e342e;
    color: #FFD9AB;
}
@media (max-width: 1000px) {
    .container {
        height: fit-content;
    }
    .app {
        height: fit-content;
        padding: 20px;
    }
    .answer {
        flex-direction: column;
    }
    .answer img {
        width: 80%;
    }
}